*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  min-width: 1024px;
  max-height: 1024px;
  min-height: 780px;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}