*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  min-width: 1025px;
  height: 100vh;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media screen and (width:1024px){
  body{
    width: 1024px;
    height: 780px;
  }
}