*{box-sizing: border-box;}
body {
  margin: 0 auto;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1440px;
  height: 1024px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}